extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas sodales lacus eget pellentesque. Fusce efficitur, leo quis elementum vulputate, magna nulla dictum mauris, id accumsan velit libero vel lacus. Phasellus ac urna venenatis metus imperdiet tincidunt. Maecenas vel diam risus. Aenean et elementum erat. Praesent sit amet nulla vehicula lorem fermentum aliquam in eget elit. Integer commodo quam eget luctus sagittis.  

                p Nullam consequat pretium ultricies. Cras erat lorem, vehicula in eros et, egestas dictum mi. Curabitur mollis elit mauris, ac placerat elit blandit venenatis. Donec molestie nunc et sollicitudin venenatis. Duis nec odio erat. 

                p Suspendisse id porttitor nibh. Curabitur vel dolor ac felis ornare fringilla. Cras sagittis, leo sit amet posuere venenatis, massa turpis mollis ex, eget ornare est erat a nulla. Vestibulum ac molestie neque. Phasellus consequat nibh et velit lobortis, in laoreet velit aliquam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Cras non dignissim justo, quis viverra velit. Mauris sed interdum neque. In posuere dui ut ullamcorper ultrices. Aliquam erat volutpat. Fusce non congue ligula. Aenean id purus venenatis, sagittis quam accumsan, ultrices orci.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras non dignissim justo, quis viverra velit. Mauris sed interdum neque. In posuere dui ut ullamcorper ultrices. Aliquam erat volutpat. Fusce non congue ligula. Aenean id purus venenatis, sagittis quam accumsan, ultrices orci.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Cras non dignissim justo, quis viverra velit. Mauris sed interdum neque. In posuere dui ut ullamcorper ultrices. Aliquam erat volutpat. Fusce non congue ligula. Aenean id purus venenatis, sagittis quam accumsan, ultrices orci.
